settings:
    tmp_dir: "/tmp" # Required
    github:
        repository: "DevGears/phpcra" # Required
        user_id: "839082e5aafff73e9f6da79e15bc2bab78e0cc68" # Required
    phpcra:
        analyze:
            phpcs: true
            php-cs-fixer: true
        output:
            default: "console" # Required